/* Adicionar aqui toda a estilização criada para sua aplicação. */

/* Importamos a fonte Barlow */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;  
    background-color: black;
}


/* Criando uma variavel no CSS */
/* o root precisa de ":" pois ele não é uma classe, id, etc. */
/* NÂO DEIXA OS - GRUDADOS EM ALGO E DEIXA O VAR() GRUDADO NO PARENTESES*/

:root {
    --tamanho-header: 80px;
    --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-footer: 65px;
}

/* Estilizando a header */
.header {
    height: var(--tamanho-header);
    border-bottom: 2px solid #32d9cd;

}

/* Estilizando o container */
.container {
    display: flex;
    width: 80%;  /* Largura */
    margin: auto;
}

/* Estilizando a header e container juntos */
.header .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* Estilizando tudo o que for tag "a" na header. Hierarquia */
.header a {
    text-decoration: none;
    color: white;
}

/* Estilizando a tag "agora" */
.agora{
    font-weight: 800; /* Grossura da fonte */
}

/* Estilizando a navbar */
.navbar {
    width: 300px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: #e3b062;    
}

/* Estilizando o titulo */

.titulo{
    color: #32d9cd;
    width: fit-content;
    font-weight: 800;
}

/* Estilizando o banner */

.banner {
    height: 200px;
    color: white;
    background-image: url('../assets/imgs/bg-jelly-fish-para_outras_pags.png');
    background-size: 1000x;
}

/* Estilizando o container dentro do banner */

.banner .container {
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Estilizando o que for tag p dentro do container que ta dentro do banner */
.banner .container .p {
    width: 50%;
    margin: 0;
    padding: 0;
    font-size: 36px;
}

/* Estilizando o que for tag "span" dentro do container que ta dentro do banner */
.banner .container span {
    font-weight: 800;
}

/* Estilizando o Social (Missão, visão e valores)*/

.social {
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px ;
}

/* Estilizando os boxes dentro do container que ta dentro do Social */

.social .container .boxes {
    display: table-column;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    padding: 100px; /* O 0 dentro do padding pois influencia apenas um eixo, seja vertical ou horizontal. Nesse caso ta influenciando o Y e não o X*/
}

/* Estilizando o Box */

.box {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.box img {
    width: 170px;
}

.box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilizando o footer */

.footer {
    background-color: #32d9cd;
    height: var(--tamanho-footer);
    color: #fff;
    display: flex;
    font-size: 15px;
}

/* Estilizando o container dentro do footer */

.footer .container {
    justify-content: center;
    align-items: center;
}

/* Estilizando o tamanho da versão */
.version {
    font-size: 12px;
}

/* Estilizando o login */

.login {
    background-image: url('../assets/imgs/bg-jelly-fish-para_outras_pags.png');
    height: var(--tamanho-login);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 600px;
    border-radius: 10px;
    background-color: rgb(224, 224, 224);
}

.card-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    color: #d77a99;
}

.login .formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
}

.campo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login h1 {
    color:  #d77a99;
}

.login span {
    align-self: flex-start;
    color:  #d77a99;
    font-weight: 700;
}

.login input {
    height: 40px;
    width: 500px;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    border: 2px solid #32d9cd;
    text-align: center;
}

.login .botao {
    background-color: rgb(255, 14, 114);
    border-radius: 8%;
    width: 100px;
    height: 30px;
    align-items: center;
    color: white;
    border: none;
    font-size: 19px;
}

/* Cadastro */

.cadastro {
    background-image: url('../assets/imgs/bg-jelly-fish-para_outras_pags.png');
    height: var(--tamanho-login);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cadastro .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 450px;
    width: 600px;
    border-radius: 10px;
    background-color: rgb(224, 224, 224);
}

.cadastro h2{
    display: flex;
    justify-content: center;
    align-self: center;
    color: #d77a99;
}

.cadastro .formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cadastro span {
    align-self: flex-start;
    color:#d77a99;
    font-weight: 700;
}

.cadastro input {
    height: 35px;
    width: 500px;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    border: 2px solid #32d9cd;
    text-align: center;
    display: flex;
}

.cadastro .botao {
    background-color: rgb(255, 14, 114);
    border-radius: 8px;
    width: 130px;
    height: 30px;
    color: white;
    border: none;
    font-size: large;
}